*{
    margin: 0;
    padding: 0;
}


.head{
    width: 100%;
    height: 70px;
    margin: 100;
    padding: 100;
    
    background-color: rgb(90, 57, 84);
}

.titulo{
    padding: 15px;
    color: white;
    text-align: center;
    justify-content: center;
    
   
}
.seccion1{ background-color: rgb(3, 52, 66);
    
    
    
}



.subtitulo1{
    color: white;
    text-align: center;
    

    
}
.subtitulo2{
    color: white;
    text-align: center;
    padding-left: 300px;
    padding-right: 0px;

   
   
}
.parrafo{
    border: 1px rgb(3, 140, 140);
    background-color:rgb(3, 140, 140) ;
    border-radius: 5%;
    
    

    

    
}
.parrafo1{
    border: 2px rgb(3, 140, 140);
    background-color:rgb(3, 140, 140) ;
    border-radius: 5%;
    align-items: right;
    
  
     
}
.texto1{
    display: inline-block;
    width: 49%;
    max-width: 40vw;
    
}
